:root {
  --background: #fafafa;
  --foreground: #0d0d0d;
}

@font-face {
  font-family: "Relais";
  src: url("../public/fonts/RelaisDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Relais Light";
  src: url("../public/fonts/RelaisDisplay-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Relais Light Italic";
  src: url("../public/fonts/RelaisDisplay-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Area";
  src: url(../public/fonts/AreaNormal-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Area Bold";
  src: url(../public/fonts/AreaNormal-Bold.woff2) format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#year{
  position: absolute;
  transform: translate(-100%,0%);
}

.img {
  overflow: hidden;
}

ul,
li {
  list-style: none;
}

body,
html {
  /*background-color: var(--background);*/
  color: var(--foreground);
}

.big-spacer {
  height: 15vh;
}

p {
  font-family: "Area";
  font-size: 1rem;
  line-height: 1.4em;
  font-weight: 400;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/4;
}

.bold {
  font-family: "Area Bold";
}

h2 {
  font-family: "Relais Light";
  font-size: 10vw;
  font-weight: 400;
  line-height: 0.9em;
  letter-spacing: -0.5vw;
}

h3 {
  font-family: "Relais Light";
  font-size: 3.3vw;
  font-weight: 400;
  line-height: 0.9em;
  letter-spacing: -0.1vw;
}

h4 {
  font-family: "Area";
  font-size: 1.5rem;
  line-height: 1.4em;
  font-weight: 400;
  text-wrap: balance;
}

.italic {
  font-family: "Relais Light Italic";
}

.total-wrapper {
  padding: 0rem 3rem;
}

#container {
  opacity: 0;
}

.nav-buttons {
  font-family: "Area";
  border: 0px;
  background-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
}

.project-link {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 999;
}

.split-smalls {
  font-kerning: none;
}

.split-titles {
  font-kerning: none;
}

.inner-project-info {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.inner-project-title {
  font-family: "Relais Light";
  font-weight: 400;
  text-align: center;
  font-size: 10vw;
  line-height: 0.9em;
  letter-spacing: -0.5vw;
}

.inner-project-tags {
  padding: 6rem 6rem 6rem 6rem;
  width: 100%;
  display: flex;
}

.inner-project-tag {
  text-align: center;
}

.inner-project-tags-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.big-image {
  background-color: red;
  width: 100%;
  aspect-ratio: 16/9;
}

.inner-project-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 3rem 0rem 9rem 0rem;
}

.credits {
  width: 100%;
}

.credits-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 3rem;
}

.inner-project-grid {
  display: grid;
  width: 100%;
  padding: 0rem 0rem 1.5rem 0rem;
}

.one-columns {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.one-columns img {
  aspect-ratio: 16/9;
}

.two-columns img {
  aspect-ratio: 3/4;
}

@media (max-width: 900px) {
  .total-wrapper {
    padding: 0rem 1.5rem;
  }

  .inner-project-info {
    min-height: 80vh;
  }

  .inner-project-description {
    grid-template-columns: repeat(1, 1fr);
  }

  .big-image {
    aspect-ratio: 1/1;
  }

  .one-columns img {
    aspect-ratio: 1/1;
  }
  .two-columns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  h4{
    font-size: 1.25rem;
  }
}

@media (max-width: 750px) {
  .total-wrapper {
    padding: 0rem 1.5rem;
  }

  .inner-project-info {
    min-height: 60vh;
  }

  h2 {
    font-size: 14vw;
    font-weight: 400;
    letter-spacing: -0.5vw;
  }

  .inner-project-title {
    font-size: 14vw;
  }

  .inner-project-tags {
    padding: 3rem 1.5rem;
  }
}
